[submodule "externals/ringojs"]
	path = externals/ringojs
	url = git://github.com/tschaub/ringojs.git
[submodule "externals/buildkit"]
	path = externals/buildkit
	url = git://github.com/tschaub/buildkit.git
[submodule "app/static/externals/gxp"]
	path = app/static/externals/gxp
	url = git://github.com/gispro/gxp.git
[submodule "app/static/externals/GeoExt"]
	path = app/static/externals/GeoExt
	url = git://github.com/gispro/GeoExt.git
[submodule "app/static/externals/openlayers"]
	path = app/static/externals/openlayers
	url = git://github.com/gispro/openlayers.git
[submodule "app/static/externals/PrintPreview"]
	path = app/static/externals/PrintPreview
	url = git://github.com/GeoNode/PrintPreview.git
[submodule "app/static/externals/gispro/pricker"]
	path = app/static/externals/gispro/pricker
	url = https://github.com/Talleyran/Ext.Pricker.git
[submodule "app/static/externals/gispro/editor"]
	path = app/static/externals/gispro/editor
	url = https://github.com/Talleyran/editor.git
[submodule "app/static/externals/gispro/view_manager"]
	path = app/static/externals/gispro/view_manager
	url = https://Talleyran@github.com/Talleyran/view_manager.git
[submodule "app/static/externals/gispro/overview_map"]
	path = app/static/externals/gispro/overview_map
	url = https://Talleyran@github.com/Talleyran/overview_map.git
