[submodule "externals/ringojs"]
	path = externals/ringojs
	url = git://github.com/tschaub/ringojs.git
[submodule "externals/buildkit"]
	path = externals/buildkit
	url = git://github.com/tschaub/buildkit.git
[submodule "app/static/externals/gxp"]
	path = app/static/externals/gxp
	url = https://github.com/gispro/gxp.git
[submodule "app/static/externals/GeoExt"]
	path = app/static/externals/GeoExt
	url = https://github.com/gispro/GeoExt.git
[submodule "app/static/externals/openlayers"]
	path = app/static/externals/openlayers
	url = https://github.com/gispro/openlayers.git
[submodule "app/static/externals/PrintPreview"]
	path = app/static/externals/PrintPreview
	url = git://github.com/GeoNode/PrintPreview.git
[submodule "app/static/externals/gispro/pricker"]
	path = app/static/externals/gispro/pricker
	url = git@github.com:Talleyran/Ext.Pricker.git
