[submodule "externals/ringojs"]
	path = externals/ringojs
	url = git://github.com/tschaub/ringojs.git
[submodule "externals/buildkit"]
	path = externals/buildkit
	url = git://github.com/tschaub/buildkit.git
[submodule "app/static/externals/gxp"]
	path = app/static/externals/gxp
	url = git://github.com/gispro/gxp.git
[submodule "app/static/externals/GeoExt"]
	path = app/static/externals/GeoExt
	url = git://github.com/gispro/GeoExt.git
[submodule "app/static/externals/openlayers"]
	path = app/static/externals/openlayers
	url = git://github.com/gispro/openlayers.git
[submodule "app/static/externals/PrintPreview"]
	path = app/static/externals/PrintPreview
	url = git://github.com/gispro/PrintPreview.git
[submodule "app/static/externals/gispro/pricker"]
	path = app/static/externals/gispro/pricker
	url = git://github.com/Talleyran/Ext.Pricker.git
[submodule "app/static/externals/gispro/editor"]
	path = app/static/externals/gispro/editor
	url = git://github.com/Talleyran/editor.git
[submodule "app/static/externals/gispro/view_manager"]
	path = app/static/externals/gispro/view_manager
	url = git://github.com/Talleyran/view_manager.git
[submodule "app/static/externals/gispro/overview_map"]
	path = app/static/externals/gispro/overview_map
	url = git://github.com/Talleyran/overview_map.git
[submodule "app/static/externals/gispro/grid_wms_get_feature_info"]
	path = app/static/externals/gispro/grid_wms_get_feature_info
	url = git://github.com/Talleyran/grid_wms_get_feature_info.git
[submodule "app/static/externals/gispro/overrides"]
	path = app/static/externals/gispro/overrides
	url = git://github.com/Talleyran/geoexplorer_overrides.git
[submodule "app/static/externals/gispro/utils"]
	path = app/static/externals/gispro/utils
	url = git://github.com/Talleyran/gispro_utils.git
[submodule "app/static/externals/gispro/arcgis_source"]
	path = app/static/externals/gispro/arcgis_source
	url = git://github.com/Talleyran/arcgis_source.git
[submodule "app/static/externals/gispro/upload"]
	path = app/static/externals/gispro/upload
	url = git://github.com/Talleyran/upload.git
[submodule "app/static/externals/gispro/username"]
	path = app/static/externals/gispro/username
	url = git://github.com/Talleyran/username.git
[submodule "app/static/externals/gispro/login"]
	path = app/static/externals/gispro/login
	url = git://github.com/Talleyran/login.git
