<% extends ./base.html %>
<% subskin extrahead %>
    <!-- OpenLayers resources -->
    <link rel="stylesheet" type="text/css" href="externals/openlayers/theme/default/style.css">
    <script type="text/javascript" src="script/OpenLayers.js"></script>

    <!-- GeoExt resources -->
    <link rel="stylesheet" type="text/css" href="externals/GeoExt/resources/css/popup.css">
    <link rel="stylesheet" type="text/css" href="externals/GeoExt/resources/css/layerlegend.css">
    <link rel="stylesheet" type="text/css" href="externals/GeoExt/resources/css/gxtheme-gray.css">
    <script type="text/javascript" src="script/GeoExt.js"></script> 

    <!-- gxp resources -->
    <link rel="stylesheet" type="text/css" href="externals/gxp/src/theme/all.css">
    <script type="text/javascript" src="script/gxp.js"></script> 

    <!-- gispro resources -->
    <script type="text/javascript" src="externals/gispro/utils/public/javascripts/utils.js"></script>
    <script type="text/javascript" src="externals/gispro/pricker/javascripts/PrickerParser.js"></script>
    <script type="text/javascript" src="externals/gispro/pricker/javascripts/PrickerWindow.js"></script>
    <script type="text/javascript" src="externals/gispro/pricker/javascripts/Pricker.js"></script>
    <script type="text/javascript" src="externals/gispro/pricker/javascripts/PrickerTool.js"></script>
    <script type="text/javascript" src="externals/gispro/pricker/javascripts/locale/ru.js"></script>
    <link rel="stylesheet" type="text/css" href="externals/gispro/pricker/stylesheets/pricker.css">
    <script type="text/javascript" src="externals/gispro/editor/javascripts/feature_editor_panel.js"></script>
    <script type="text/javascript" src="externals/gispro/editor/javascripts/feature_editor_simple_messagebox.js"></script>
    <link rel="stylesheet" type="text/css" href="externals/gispro/editor/stylesheets/editor.css">
    <script type="text/javascript" src="externals/gispro/view_manager/public/javascripts/view_menu.js"></script>
    <script type="text/javascript" src="externals/gispro/view_manager/public/javascripts/locale/ru.js"></script>
    <script type="text/javascript" src="externals/gispro/username/public/javascripts/username.js"></script>
    <script type="text/javascript" src="externals/gispro/username/public/javascripts/locale/ru.js"></script>
    <script type="text/javascript" src="externals/gispro/overview_map/overview_map.js"></script>
    <script type="text/javascript" src="externals/gispro/grid_wms_get_feature_info/grid_wms_get_feature_info.js"></script>
    <script type="text/javascript" src="externals/gispro/upload/public/javascripts/upload.js"></script>
    <script type="text/javascript" src="externals/gispro/upload/public/javascripts/locale/ru.js"></script>
    <script type="text/javascript" src="externals/gispro/arcgis_source/public/javascripts/ArcGISServiceReader.js"></script>
    <script type="text/javascript" src="externals/gispro/arcgis_source/public/javascripts/ArcGISServiceStore.js"></script>
    <script type="text/javascript" src="externals/gispro/arcgis_source/public/javascripts/ArcGISSource.js"></script>
	<script type="text/javascript" src="externals/gispro/rubricator/Rubricator.js"></script>
    <!--<script type="text/javascript" src="externals/gispro/login/public/javascripts/login.js"></script>
    <script type="text/javascript" src="externals/gispro/login/public/javascripts/locale/ru.js"></script>-->

    <!-- gispro overrides -->
    <script type="text/javascript" src="externals/gispro/overrides/GeoExt/lib/GeoExt/widgets/MapPanel.js"></script>
    <script type="text/javascript" src="externals/gispro/overrides/GeoExt/lib/GeoExt/data/AttributeReader.js"></script>
    <script type="text/javascript" src="externals/gispro/overrides/gxp/src/script/plugins/QueryForm.js"></script>
    <script type="text/javascript" src="externals/gispro/overrides/gxp/src/script/plugins/FeatureManager.js"></script>
    <script type="text/javascript" src="externals/gispro/overrides/gxp/src/script/plugins/AddLayers.js"></script>
	<script type="text/javascript" src="externals/gispro/overrides/gxp/src/script/plugins/AnimationManager.js"></script>
	<script type="text/javascript" src="externals/gispro/overrides/gxp/src/script/plugins/AnimationGrid.js"></script>
	<script type="text/javascript" src="externals/gispro/overrides/gxp/src/script/plugins/ChartManager.js"></script>
	<script type="text/javascript" src="externals/gispro/overrides/gxp/src/script/plugins/ChartEditor.js"></script>
	<script type="text/javascript" src="externals/gispro/overrides/gxp/src/script/plugins/ChartSource.js"></script>
    <script type="text/javascript" src="externals/gispro/overrides/gxp/src/script/plugins/FeatureGrid.js"></script>
    <script type="text/javascript" src="externals/gispro/overrides/gxp/src/script/plugins/LayerSource.js"></script>
    <script type="text/javascript" src="externals/gispro/overrides/gxp/src/script/plugins/WMSCSource.js"></script>
    <script type="text/javascript" src="externals/gispro/overrides/gxp/src/script/plugins/LayerProperties.js"></script>
	<script type="text/javascript" src="externals/gispro/overrides/gxp/src/script/plugins/Styler.js"></script>
	<script type="text/javascript" src="externals/gispro/overrides/gxp/src/script/plugins/Measure.js"></script>
	<script type="text/javascript" src="externals/gispro/overrides/gxp/src/script/plugins/Print.js"></script>
	<script type="text/javascript" src="externals/gispro/overrides/gxp/src/script/plugins/UploadPlugin.js"></script>
    <script type="text/javascript" src="externals/gispro/overrides/gxp/src/script/plugins/GoogleSource.js"></script>
    <script type="text/javascript" src="externals/gispro/overrides/gxp/src/script/plugins/WMSSource.js"></script>
    <script type="text/javascript" src="externals/gispro/overrides/gxp/src/script/plugins/OSMSource.js"></script>
    <script type="text/javascript" src="externals/gispro/overrides/gxp/src/script/widgets/grid/FeatureGrid.js"></script>
    <script type="text/javascript" src="externals/gispro/overrides/gxp/src/script/widgets/WMSLayerPanel.js"></script>
    <script type="text/javascript" src="externals/gispro/overrides/gxp/src/script/widgets/WMSStylesDialog.js"></script>
    <script type="text/javascript" src="externals/gispro/overrides/gxp/src/script/widgets/form/FilterField.js"></script>


    <!-- proj4js resources -->
    <script type="text/javascript" src="externals/proj4js/lib/proj4js-compressed.js"></script>

    <script type="text/javascript">
      Proj4js.defs["EPSG:102012"] = "+proj=lcc +lat_1=30 +lat_2=62 +lat_0=0 +lon_0=105 +x_0=0 +y_0=0 +ellps=WGS84 +datum=WGS84 +units=m +no_defs";
      Proj4js.defs["EPSG:3576"] = "+proj=laea +lat_0=90 +lon_0=90 +x_0=0 +y_0=0 +ellps=WGS84 +datum=WGS84 +units=m +no_defs";
      Proj4js.defs["EPSG:4326"] = "+proj=longlat +ellps=WGS84 +datum=WGS84 +no_defs";
      Proj4js.defs["EPSG:91101"] = "+title=long/lat:WGS84 +proj=longlat +ellps=WGS84 +datum=WGS84 +units=degrees"
      Proj4js.defs["EPSG:3413"] = "+proj=stere +lat_0=90 +lat_ts=70 +lon_0=-45 +k=1 +x_0=0 +y_0=0 +ellps=WGS84 +datum=WGS84 +units=m +no_defs";
      Proj4js.defs["EPSG:3995"] = "+proj=stere +lat_0=90 +lat_ts=71 +lon_0=0 +k=1 +x_0=0 +y_0=0 +ellps=WGS84 +datum=WGS84 +units=m +no_defs";            
      Proj4js.defs["EPSG:3976"] = "+proj=stere +lat_0=-90 +lat_ts=-70 +lon_0=0 +k=1 +x_0=0 +y_0=0 +ellps=WGS84 +datum=WGS84 +units=m +no_defs";            
    </script>

    <!-- GeoExplorer resources -->
    <link rel="stylesheet" type="text/css" href="theme/app/geoexplorer.css" />
    <!--[if IE]><link rel="stylesheet" type="text/css" href="theme/app/ie.css"/><![endif]-->        
    <link rel="stylesheet" type="text/css" href="theme/ux/colorpicker/color-picker.ux.css" />
    <script type="text/javascript" src="script/GeoExplorer.js"></script>
    <script type="text/javascript" src="script/ux.js"></script>

    <!-- PrintPreview resources -->
    <link rel="stylesheet" type="text/css" href="externals/PrintPreview/resources/css/printpreview.css">
    <script type="text/javascript" src="script/PrintPreview.js"></script>

    <!--<script type="text/javascript" src="script/app/graticuleGxpTool.js"></script>-->
    <script type="text/javascript" src="script/choosers.js"></script>
    <!--<script type="text/javascript" src="script/app/ServicesSetting.js"></script>-->

    <script type="text/javascript" src="HelpInfo.js"></script> 

    <script type="text/javascript" src="config.js"></script>

    <script type="text/javascript">

        //TODO: make configurable
        var im = new Image();
        im.src = 'http://oceanviewer.ru/resources/web/';

        //constants

        Ext.BLANK_IMAGE_URL = CONFIG.blankImageUrl;

        OpenLayers.ImgPath = CONFIG.openLayersImgPath;

        Gispro.Utils.TRANSLATE_URL = CONFIG.translateUrl;

        Gispro.Utils.METADATA_URL = CONFIG.metadataUrl;

        OpenLayers.IMAGE_RELOAD_ATTEMPTS = CONFIG.imageReloadAttempts;

        // optionally set locale based on query string parameter
        if (GeoExt.Lang) {
            //GeoExt.Lang.set(OpenLayers.Util.getParameters()["locale"] || GeoExt.Lang.locale);
            GeoExt.Lang.set("ru");
        }
        
		//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
		Ext.override(OpenLayers.Layer.GeoRSS, {
			parseData: RssPopupParseData
		});

		Ext.override(OpenLayers.Control.WMSGetFeatureInfo, {
			getInfoForClick: RssPopupGetInfoForClick
		});

		Ext.override(GeoExt.tree.LayerNode, {
			render: RssPopupLayerNodeRender
		});

		Ext.override(gxp.Viewer, {
			getState: RssPopupGetState
		});

		Ext.override(GeoExt.tree.LayerLoader, {
			addLayerNode: RsspopupAddLayerNode
		});
		
		Ext.override(gxp.plugins.RemoveLayer, {
			addActions: RssPopupAddActions
		});

		//Ext.override(gxp.WMSLayerPanel, {
		//	createDisplayPanel: RssSourceCreateDisplayPanel
		//});
		
		Ext.override(GeoExt.LegendPanel, {
			addLegend : animationAddLegend
		});
                
		Ext.override(GeoExt.tree.LayerNode, {
			render : animationRender
		});

		Ext.override(GeoExt.LegendPanel, {
			recordIndexToPanelIndex : animationRecordIndexToPanelIndex
		});
		
		Ext.override(GeoExt.data.LayerStore, {
			onAdd : animationOnAdd
		});

		Ext.override(GeoExt.tree.LayerNode, {
			onStoreAdd : animationOnStoreAdd
		});
		
		Ext.override(GeoExt.tree.LayerLoader, {
			onStoreAdd : animationLayerLoaderOnStoreAdd
		});
		//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

        var app = new GeoExplorer.Composer(CONFIG.composer)


        downloadArcgis()
        downloadRSS()
        wmsStore.load()

        app.on("ready", function()
          {
            Ext.QuickTips.getQuickTip().maxWidth = 800
            animationStore.load()
            aquaStore.load()

            this.mapPanel.on('beforeprojectionchanged', function(projection){
              if(projection == 'EPSG:900913' || projection == 'EPSG:4326'){
                //this - mapPanel
                this.layers.each(function(rec){
                  if(rec.getLayer().params && rec.getLayer().params.LAYERS == 'eko_merge_v'){
                    rec.getLayer().params.LAYERS = 'eko_merge'
                  }})
              } else if (projection == 'EPSG:102012' || projection == 'EPSG:3576' || projection == 'EPSG:3976') {
                //this - mapPanel
                this.layers.each(function(rec){
                  if(rec.getLayer().params && rec.getLayer().params.LAYERS == 'eko_merge'){
                    rec.getLayer().params.LAYERS = 'eko_merge_v'
                  }})
              }
            })

            //background
            //this.mapPanel.map.div.style.background = '#bdf'

            //google hybrid after resize bug fix
            //TODO move to source
			// Google layers removed -> bug fix removed
            /*var gobj
            for(var i=0, len=app.mapPanel.map.layers.length; i<len; i++){
              if( app.mapPanel.map.layers[i].type == 'hybrid'){
                gobj=app.mapPanel.map.layers[i].mapObject
              }
            }
            app.mapPanel.on( 'afterlayout', function(){
              google.maps.event.trigger(gobj, 'resize')
            } )*/


            if(CONFIG.onloadResources){
              for(var k in CONFIG.onloadResources.sources){

                this.addLayerSource({
                    id: k,
                    config: CONFIG.onloadResources.sources[k].config,

                    callback: function(sourceId){

                      for(var i=0,len=CONFIG.onloadResources.sources[sourceId].layers.length; i<len; i++){

                        app.mapPanel.layers.add([ 
                          app.layerSources[ sourceId ].createLayerRecord({
                            name: CONFIG.onloadResources.sources[sourceId].layers[i],
                            source: CONFIG.onloadResources.sources[sourceId].id,
                            group: CONFIG.onloadResources.sources[sourceId].group,
                            cached: false,
                            visibility: false
                          })
                        ])

                      }

                    }
                });

              }
            }

            //TODO make plugin!!
            var win = new Ext.Window({
              title: 'Помощь',
              layout:'fit',
              width:700,
              height:400,
              closeAction:'hide',
              maximizable: true,
              items: [
                  {
                    layout:'border',
                    defaults: {
                        collapsible: true,
                        split: true,
                        //bodyStyle: 'padding:15px'
                    },
                    items: [
                    {
                      xtype:'treepanel',
                      listeners: {
                        click: function(a,b,c){
                          if(a.attributes.url) Ext.getCmp('helpIframe').body.dom.innerHTML= '<iframe style="border: none;" height="100%" width="100%" src="' + a.attributes.url + '"></iframe>'
                        }
                      },
                      rootVisible: false,
                      region:'west',
                      //margins: '5 0 0 0',
                      //cmargins: '5 5 0 0',
                      width: 175,
                      minSize: 100,
                      maxSize: 250,
                      useArrows:true,
                      autoScroll:true,
                      animate:true,
                      containerScroll: true,
                      border: false,
                      root: new Ext.tree.AsyncTreeNode({
                          children: HelpInfo
                      }),
                    },
                    {
                        collapsible: false,
                        region:'center',
                        margins: '5 0 0 0',
                        id: 'helpIframe'
                    }
                  ]
                }
              ]
            });
            Ext.getCmp('helpButton').handler = function(){win.show()}

          })



    </script>
