<% extends ./base.html %>
<% subskin extrahead %>
    <!-- OpenLayers resources -->
    <link rel="stylesheet" type="text/css" href="externals/openlayers/theme/default/style.css">
    <script type="text/javascript" src="script/OpenLayers.js"></script>

    <!-- GeoExt resources -->
    <link rel="stylesheet" type="text/css" href="externals/GeoExt/resources/css/popup.css">
    <link rel="stylesheet" type="text/css" href="externals/GeoExt/resources/css/layerlegend.css">
    <link rel="stylesheet" type="text/css" href="externals/GeoExt/resources/css/gxtheme-gray.css">
    <script type="text/javascript" src="script/GeoExt.js"></script> 

    <!-- gxp resources -->
    <link rel="stylesheet" type="text/css" href="externals/gxp/src/theme/all.css">
    <script type="text/javascript" src="script/gxp.js"></script> 

    <!-- proj4js resources -->
    <!--<script type="text/javascript" src="externals/proj4js/lib/proj4js-compressed.js"></script>-->

    <!-- GeoExplorer resources -->
    <link rel="stylesheet" type="text/css" href="theme/app/geoexplorer.css" />
    <!--[if IE]><link rel="stylesheet" type="text/css" href="theme/app/ie.css"/><![endif]-->        
    <link rel="stylesheet" type="text/css" href="theme/ux/colorpicker/color-picker.ux.css" />
    <script type="text/javascript" src="script/GeoExplorer.js"></script>
    <script type="text/javascript" src="script/ux.js"></script>

    <!-- PrintPreview resources -->
    <link rel="stylesheet" type="text/css" href="externals/PrintPreview/resources/css/printpreview.css">
    <script type="text/javascript" src="script/PrintPreview.js"></script>

    <script>
        Ext.BLANK_IMAGE_URL = "theme/app/img/blank.gif";
        OpenLayers.ImgPath = "theme/app/img/";
        // optionally set locale based on query string parameter
        if (GeoExt.Lang) {
            //GeoExt.Lang.set(OpenLayers.Util.getParameters()["locale"] || GeoExt.Lang.locale);
			GeoExt.Lang.set("ru");
        }
        
        /*Ext.override(gxp.WMSLayerPanel, {
            
            initComponent: function() {

                this.addEvents(
                    "change"
                );
    
                this.items = [
                    this.createAboutPanel(),
                    this.createDisplayPanel(),
                    this.createMetaDataPanel()
                ];

                // only add the Cache panel if we know for sure the WMS is GeoServer
                // which has been integrated with GWC.
                if (this.layerRecord.get("layer").params.TILED != null) {
                    this.items.push(this.createCachePanel());
                }

                // only add the Styles panel if we know for sure that we have styles
                if (this.styling && gxp.WMSStylesDialog && this.layerRecord.get("styles")) {
                    var url = (this.source || this.layerRecord.get("layer")).url.split(
                        "?").shift().replace(/\/(wms|ows)\/?$/, "/rest");
                    if (this.sameOriginStyling) {
                        // this could be made more robust
                        // for now, only style for sources with relative url
                        this.editableStyles = url.charAt(0) === "/";
                    } else {
                        this.editableStyles = true;
                    }
                    this.items.push(this.createStylesPanel(url));
                }

                gxp.WMSLayerPanel.superclass.initComponent.call(this);
            },

            
            
            createMetaDataPanel: function() {
                
                //var metadataLayerNames = getMetaData("layer", werwer);
                
                
                return {
                    title: "Метаданные",
                    style: {"padding": "10px"},
                    defaults: {
                        border: false
                    },
                    html: "Hi hi hi!!" + this.layerRecord.get("name").split(":")[1]
                };
            }
        });*/
        
        
        var app = new GeoExplorer.Composer({
            authStatus: 1,// <% status %>,
            proxy: "proxy/?url=",
            printService: "/geoserver/pdf/",
            about: {
                title: "Карта OceanViewer",
                "abstract": "Сохраненная карта OceanViewer",
                contact: "Разработчик приложения <a href='http://www.gispro.ru'>ЗАО 'ГИСпроект'</a>"
            },
            defaultSourceType: "gxp_wmscsource",
            sources: {
		gispro: {
                    url: "http://gisbox.ru:8080/geoserver/wms",
                    title: "GISPRO"
                },
		opermeteo: {
                    url: "http://gisbox.ru:8080/geoserver/opermeteo/wms",
                    title: "Оперативные метеоданные"
                },
                arcgis93: {
                    ptype: "gxp_arcgis93source"
		},                
                rss: {
                    ptype: "gxp_rsssource"
		},
                mapquest: {
                    ptype: "gxp_mapquestsource"
                },
                osm: {
                    ptype: "gxp_osmsource"
                },
                google: {
                    ptype: "gxp_googlesource"
                },
                bing: {
                    ptype: "gxp_bingsource"
                },
                mapbox: {
                    ptype: "gxp_mapboxsource"
                },
		obis: {
                    url: "http://portal2.iobis.org/geoserver/gwc/service/wms",
                    title: "OBIS"
                },
		gisprocache: {
                    url: "http://gisbox.ru:8080/geoserver/gwc/service/wms",
                    title: "GISPRO-CACHE"
                },
                ol: {
                    ptype: "gxp_olsource"
                }
            },
            map: {
		projection: "EPSG:900913",
                units: "m",
                maxResolution: 156543.0339,
                maxExtent: [
                    -20037508.34, -20037508.34,
                    20037508.34, 20037508.34
                ],
                layers: [
		{
			source: "arcgis93",
			title: "Ocean basemap",
			name: "OceanBasemap",
			group: "background",
			visibility: true,
			url: "http://services.arcgisonline.com/ArcGIS/rest/services/Ocean_Basemap/MapServer/export"
                        //,projection: "900913"
                }, 
                {
                    
                    source: "gisprocache",
                    title: "Топографическая карта РФ м 1:2 500 000",
                    name: "eko3_rf2500",
                    group: "background"
                }, {
                    source: "gisprocache",
                    title: "Топографическая карта РФ м 1:1 000 000",
                    name: "eko3_rf1000",
                    group: "background"
                }, {
                    source: "gisprocache",
                    title: "Топографическая карта РФ м 1:500 000",
                    name: "eko3_rf500",
                    group: "background"
                }, {
                    source: "gisprocache",
                    title: "ЭКО 3.1",
                    name: "eko3_merge",
                    group: "background"
                }, {
                    source: "google",
                    title: "Google Карта",
                    name: "ROADMAP",
                    group: "background"
                }, {
                    source: "ol",
                    group: "background",
                    fixed: true,
                    type: "OpenLayers.Layer",
                    args: [
                        "Без картоосновы", {visibility: false}
                    ]
                }],
               rss_layers: {
		'layers' : [
		{
			"timer" : "1",
			"name"  : "esimo_storms",
			"title" : "\u0428\u0442\u043E\u0440\u043C\u043E\u0432\u044B\u0435\u0020\u043F\u0440\u0435\u0434\u0443\u043F\u0440\u0435\u0436\u0434\u0435\u043D\u0438\u044F",
			"icon"  : "script/images/marker-red.png",
			"url"   : "http://80.245.248.214/jslibs/resources/geoext/rss/esimo_storms.xml"
		},
		{
			"timer" : "2",
			"name"  : "esimo_gms_ports",
			"title" : "\u041E\u043F\u0435\u0440\u0430\u0442\u0438\u0432\u043D\u044B\u0435\u0020\u043C\u0435\u0442\u0435\u043E\u0443\u0441\u043B\u043E\u0432\u0438\u044F\u0020\u043F\u043E\u0020\u043F\u043E\u0440\u0442\u0430\u043C\u0020\u0420\u0424",
			"icon"  : "script/images/marker-green.png",
			"url"   : "http://80.245.248.214/jslibs/resources/geoext/rss/esimo_gms_ports.xml"
		},
		{
			"timer" : "3",
			"name"  : "esimo_warnings",
			"title" : "\u041E\u043F\u0430\u0441\u043D\u044B\u0435\u0020\u044F\u0432\u043B\u0435\u043D\u0438\u044F",
			"icon1" : "script/images/atom.gif",
			"icon"  : "script/images/marker-gold.png",
			"url"   : "http://80.245.248.214/jslibs/resources/geoext/rss/esimo_warnings.xml"
		},
		{
			"timer" : "4",
			"name"  : "esimo_pogoda",
			"title" : "Оперативные метеоусловия",
			"icon"  : "script/images/marker-blue.gif",
			"url"   : "http://80.245.248.214/jslibs/resources/geoext/rss/esimo_gms.xml"
		},
		{
			"timer" : "5",
			"name"  : "esimo_hydro",
			"title" : "Гидрологические явления",
			"icon"  : "script/images/marker-brown.gif",
			"url"   : "http://80.245.248.214/jslibs/resources/geoext/rss/esimo_hydro.xml"
		},
		{
			"timer" : "6",
			"name"  : "esimo_tsunami",
			"title" : "Цунами",
			"icon"  : "script/images/marker-lightgreen.gif",
			"url"   : "http://80.245.248.214/jslibs/resources/geoext/rss/esimo_tsunami.xml"
		},
		{
			"timer" : "7",
			"name"  : "esimo_typhoons",
			"title" : "Тайфуны",
			"icon"  : "marker-purple.gif",
			"url"   : "http://80.245.248.214/jslibs/resources/geoext/rss/esimo_typhoons.xml"
		}
                    ]},
                center: [0, 0],
                zoom: 2,
		params : {
			minZoomLevel            : 4,
			maxZoomLevel            : 17,
			maxResolution           : 156543.03390625,
			displayOutsideMaxExtent : 'false',
			transitionEffect        : 'resize',
			transparent             : 'true',
			format                  : 'PNG'
		},
		options : {
			wrapDateLine            : 'true',
			singleTile              : 'true',
			ratio                   : 1
                        , projection              : "EPSG:102113"
		},
		arcgis_servers : []
                /*[
			{
				'title' : 'ArcGIS Moscow',
				'url'   : 'http://maps.gispro.ru/ArcGIS/rest/services/MAD/mad_osn/MapServer'
			}, 
			{
				'title' : 'ArcGIS Tver',
				'url'   : 'http://maps.gispro.ru/ArcGIS/rest/services/TVER/routes_kinsh_local_db/MapServer'
			}
		]*/
			}
        });
        
    </script>
